<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <!-- Amazon App Store DRM Permission -->
    <permission
        android:name="com.algeriehydroponic.hydroponicplantsindex.permission.MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.algeriehydroponic.hydroponicplantsindex.permission.MESSAGE" />

    <application
        android:label="Hydroponic Plants Index"
        android:name=".FlutterMultiDexApplication"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <!-- Amazon App Store SDK -->
        <receiver
            android:name="com.amazon.device.messaging.ADMMessageReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <category android:name="com.algeriehydroponic.hydroponicplantsindex" />
            </intent-filter>
        </receiver>

        <!-- Amazon App Store License Verification -->
        <receiver 
            android:name="com.amazon.device.drm.LicensingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.device.drm.intent.REGISTER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
